.Landing{
    grid-template-columns: 2fr 2fr 2fr;
    grid-auto-rows: minmax(10px, auto);
    grid-gap: 1em;
    background: 
    url('../images/background-1.jpg'); 
    background-repeat: no-repeat; 
    background-size: 100vw 70vh;
    background-position: bottom right;
    height: 102vh;
    
}

.circle-row{
    justify-content: space-around;
}

.header{
    font-weight: 700;
    font-size: 40px;
}

.paragraph{
    margin: 0 0 0 3em;
    grid-column: 1/2;
}

/*
Mobile first
*/
@media only screen and (min-width: 500px) {
    .Landing{
        background-size: 100vw 102vh;
    }
    
}

@media only screen and (min-width: 1050px) {
    .Landing{
        background-size: 50vw 102vh;
    }
    
}
