.Nav{
    justify-content: space-between;
    grid-column: 1/ 4;
    width: 100vw;
}

.adoptem{
    margin: 3em 0 0 0;
    width: 40vw;
}

.menu{
    padding: 2vw 5vw;
}

.logo{
    width: 7vw;
    margin: 3em 0 0 2em;
  }

.heart-icon{
    width: 6vw;
    height: 6vw;
    margin: 3em 2em 0 0em;
}

.menu-icon{
    margin: 3em 3em 0 1em;
    width: 6vw;
}

.menu-links{
    text-decoration: none;
    font-size: 1.4em;
    color: black;
}

@media only screen and (min-width: 800px) and (max-width: 1050px) {
    .adoptem{
        width: 28vw;
    }

    .logo{
        width: 5vw;
        margin: 3em 0 0 2em;
    }

    .heart-icon{
        width: 4vw;
        height: 4vw;
        margin: 3em 2em 0 0em;
    }

    .menu-icon{
        width: 4vw;
    }
    
    
}

@media only screen and (min-width: 1050px) {

    .adoptem{
        width: 16vw;
    }
    .heart-icon{
        width: 2.5vw;
        height: 2.5vw;
        margin: 3em 2em 0 0em;
    }

    .logo{
        width: 3.3vw;
        margin: 3em 0 0 2em;
    }

    .menu-icon{
        width: 1.7vw;
    }
}